.inputForm{
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(228, 233, 240);
    margin-bottom: 10px;
}
.btnAdd{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(228, 233, 240);
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btnAdd:hover{
    background: teal;
}
.form{
    border-radius: 5px;
    border: 1px solid rgb(228, 233, 240);
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 206px;
    padding: 10px 15px 10px 15px;
}